:root {
    --main-color-text: #212121;
    --second-color-text: #757575;
}

body {
    background-color: E5E5E5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}

.link {
    text-decoration: none ;
}
/* Колір фону у навігації #ECECEC*/
/* колір фону  у шапці #2F303A*/
/*   Основна частина фону 1 #E5E5E5 */
/*  Основна частина фону 2 #F5F4FA */
/*  Основний колір таксту  #212121 */
/* Другий за важливістю колір #757575 */
/* Колір на логотипі, пошті, при наведенні(акцент) #2196F3  */
/* Білий колір на назвах #FFFFFF*/
/* Білий колір на емейлі  та телефоні в футері rgba(255, 255, 255, 0.6); */
/* Колір кнопки #2196F3 */
/* Колір у футері #F5F4FA */
.logo {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Navigation */
.nav-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-text)
}

.nav-item:hover, .nav-item:focus {
    color: #2196F3;
}
.nav-on-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color-text)
}
.nav-on-item:hover, .nav-on-item:focus { 
    color: #2196F3;
}

/* Main part*/
.main {
    background: #2F303A;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
/* Features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text)
}
.features-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color-text)
}
/* Hero */
.hero-title, .profile-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--main-color-text)
}
/* Profile */
.profile-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-color-text)
}

.profile-text {
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-color-text)
}

/* Footer */
.footer {
    background: #2F303A;
}

.address-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
